<h4> Please enter the ID for the questionnaire that you wish to fill out
</h4>
<!-- <form action = "/questionnaire_answers"> -->
<form action = "/answers/new">
<input type = "text" value="<%= @questionnaire %>" name = "questionnaire_id">
  <div class="form-group">

   <br>


    <div>
      <input type="submit" value="Click here" class="btn btn-danger">
    </div>
  </div>
</form>
