<h4> CLick the below button to view your results
</h4>
<!-- <form action = "/questionnaire_questionnaires"> -->




<form action = "/show_answer">
<input type = "hidden" value="<%= current_user %>" name = "user_id">
  <div class="form-group">

   <br>


    <div>
      <input type="submit" value="Click here" class="btn btn-danger">

    </div>
  <!-- </div> -->
</form>
