<h1> About Honest Feedback </h1>

<h3>
Thanks for checking out Honest Feedback!

<br>
<br>
This application will allow you to reach out to your peers to learn more about your strengths and weaknesses.

<br><br>
The best way to take a tour of this application and get an understaning of its capabilities is to follow the below steps:
<br>
<br>
1) Click on the 'Get Feedback' button.  You'll be asked to login.  Feel free to create a questionnaire and add the email addresses of the people that you would lke feedback from.  Be sure to remember your questionnaire number!
<br>
<br>
2) Click on the 'Give Feedback' button.  Here is where you will evaluate your peers, but, for testing purposes, feel free to input your questionnaire number and evaluate yourself.
<br>
<br>
3) CLick on the 'View Feedback' button.  Here is where you will see the aggregated scores for each category that you were evaluated on.  Note that your score isn't attached to any specific questionnaire, but rather it's an aggregate of all questionnaires tied to you.  This helps keep feedback anonymous!
<br>
<br>
Thanks and enjoy the site!

</h3>
