<h1>Honest Feedback</h1><br><br>
<a href = "http://localhost:3000/questionnaires/new">
  <div class>
      <input type="submit" value="Get Feedback" class="btn btn-primary">
</a>

<a href = "http://localhost:3000/answers/login">
      <input type="submit" value="Give Feedback" class="btn btn-danger">
  </div>
</a>
